$blancCasse: #f1f1f1;
$blandGris: #f5f5f5;
$sombre: #333;

@mixin flexCentreX {
  display: flex;
  justify-content: center;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  height: 100vh;
  width: 100%;
}

// Navbar
.navbar {
  height: 60px;
  width: 100%;
  background: $blandGris;
  @include flexCentreX;
  border-bottom: 1px solid black;
  position: fixed;
  z-index: 100;

  &__items {
    font-size: 22px;
    height: 100%;
    display: flex;
    align-items: center;
  }

  &__item {
    margin-right: 30px;
    cursor: pointer;
    text-decoration: none;
    color: black;

    &:hover {
      color: #5f5f5f;
    }
  }
}

.icone__responsive {
  width: 30px;
  display: none;
  position: absolute;
  right: 20px;
  top: 13px;
}

@media screen and (max-width: 700px) {
  .navbar {
    display: block;

    &__items {
      display: none;
      border-top: 1px solid black;
    }

    &__item {
      background: $blandGris;
      margin-right: 0;
      padding: 10px 20px;
      display: block;
    }

    &:nth-child(1) {
      padding-top: 20px;
    }
  }

  .banner {
    display: block;
  }

  /* Classe à toggle */
  .responsive {
    display: block;
    margin-top: 50px;
  }
}

// Accueil

.banner {
  height: 800px;
  width: 100%;
  background: $sombre;
  background: url("../assets/home.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  &__title {
    font-family: "Abril Fatface", sans-serif;
    color: $blancCasse;
    font-size: 70px;
    letter-spacing: 5px;
    margin: 0;
    position: relative;

    &--first-letter {
      font-size: 120px;
    }
  }

  &__subtitle {
    color: $blancCasse;
    font-family: "Poppins", sans-serif;
    font-size: 22px;
  }
}

@media screen and (max-width: 1000px) {
  .banner__title {
    font-size: 50px;
  }
}

@media screen and (max-width: 760px) {
  .banner {
    height: 600px;
    .banner__title {
      font-size: 30px;
    }
    .banner__subtitle {
      font-size: 16px;
    }
  }
}

@media screen and (max-width: 550px) {
  .banner {
    height: 500px;
    align-items: flex-start;
    .banner__title {
      margin: 0px 20px;
    }
    .banner__subtitle {
      margin: 0px 20px;
    }
    .banner__subtitle::first-letter {
      font-size: 50px;
    }
  }
}

// Section 1 Txt et image
/* Section Title */
.txt-img__title {
  text-align: center;
  font-size: 40px;
  padding-top: 20px;
}

/* General Styles for the Text and Image Section */
.txt-img {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  width: 100%;
  border-bottom: 1px dashed lightskyblue;
}

/* Container for Flex Items */
.txt-img__container {
  display: flex;
  justify-content: center;
  width: 1200px;
}

/* Image Container Styles */
.txt-img__image-container,
.txt-img__text-container {
  width: 45%;
  margin: 20px;
}

/* Image Styles */
.txt-img__image {
  width: 100%;
  height: auto;
  border-radius: 2px;
}

/* Text Container Styles */
.txt-img__text-container {
  background: azure;
  border-radius: 2px;
}

.txt-img__text-container h2 {
  text-align: center;
  font-size: 35px;
}

/* Subtitle Styles */
.txt-img__subtitle {
  text-align: center;
}

/* Separator Styles */
.txt-img__separator {
  width: 60px;
}

/* Text Paragraph Styles */
.txt-img__text {
  font-size: 19px;
  padding: 15px;
}

.txt-img__text::first-letter {
  font-size: 30px;
}

/* Responsive Styles */
@media screen and (max-width: 1200px) {
  .txt-img__container {
    flex-direction: column;
    align-items: center;
    width: 400px;
  }
  .txt-img__image-container,
  .txt-img__text-container {
    width: 100%;
  }
}

@media screen and (max-width: 550px) {
  .txt-img__title {
    font-size: 25px;
  }
}

// Section Portfolio d'images
.portfolio__title {
  font-size: 40px;
  text-align: center;
  padding-bottom: 10px;
  width: 100%;
}
@media screen and (max-width: 550px) {
  .portfolio__title {
    font-size: 25px;
  }
}
.portfolio__divider {
  width: 20%;
}
.portfolio {
  padding-top: 20px;
  width: 100%;
  @include flexCentreX;
  padding-bottom: 100px;
  flex-direction: column;
  align-items: center;

  .portfolio__images {
    width: 1200px;
    @include flexCentreX;
    flex-wrap: wrap;

    .portfolio__image {
      width: 300px;
      margin: 20px;
      height: 370px;
      overflow: hidden;
      background: #000;

      img {
        width: 100%;
        height: auto;
      }
    }
  }
}

// Parallax

.parallax {
  width: 100%;
  height: 300px;
  background: url("../assets/para.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  @include flexCentreX;
  align-items: center;

  h3 {
    text-align: center;
    color: $blancCasse;
    font-size: 50px;
    letter-spacing: 5px;
  }
}

// Formulaire

.formulaire {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 60px;

  .formulaire__titre {
    text-align: center;
  }

  .formulaire__form {
    width: 60%;

    .formulaire__row {
      width: 100%;

      .formulaire__input,
      .formulaire__textarea {
        width: 100%;
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 4px;
      }

      .formulaire__textarea {
        height: 150px;
      }

      .formulaire__submit-btn {
        width: 30%;
        margin: 0 auto;
        display: block;
        margin-top: 10px;
        cursor: pointer;
        transition: all 0.2s ease;

        &:hover {
          background: midnightblue;
          color: $blancCasse;
        }
      }
    }

    .formulaire__row:nth-child(2),
    .formulaire__row:nth-child(3) {
      margin-top: 30px;
    }
  }
}

footer {
  @include flexCentreX;
  border-top: 1px dashed $sombre;
}
